@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.themes-section {
  background-color: #000;
  z-index: 2;
  position: relative;
  margin: 0%;
  padding: 0%;
}

.landingAndThemePageDivide {
  position: absolute;
  height: 10%;
  width: 100%;
  z-index: 100;
  margin: 0%;
  padding: 0%;
  background: linear-gradient(
    to bottom,
    rgba(148, 135, 135, 0.5),
    rgba(0, 0, 0, 0)
  );
  filter: brightness(1.2);
}

.layout {
  margin-top: 50px;
  z-index: 100;
}

.themesHeader {
  text-align: center;
  font-size: 2.5em;
  color: #ffffff;
  margin: 0%;
  padding: 0%;
}

@keyframes color-change {
  0% {
    color: #ff7f50;
  }
  25% {
    color: #ff6347;
  }
  50% {
    color: #ff4500;
  }
  75% {
    color: #ff1493;
  }
  100% {
    color: #ff69b4;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .individualThemeCard {
    width: 45% !important;
    margin-top: 0;
  }
  .individualThemeCard:nth-child(1) {
    margin-top: 30px;
  }
  .individualThemeCard:nth-child(even) {
    position: relative;
    bottom: 30px;
  }
  .individualThemeCard:nth-child(2) {
    position: relative;
    bottom: 0;
  }
}

@media (min-width: 769px) {
  .individualThemeCard {
    width: 17%;
  }

  .individualThemeCard:nth-child(1),
  .individualThemeCard:nth-child(3),
  .individualThemeCard:nth-child(5) {
    margin-top: 40px;
  }

  .individualThemeCard:nth-child(8),
  .individualThemeCard:nth-child(10),
  .individualThemeCard:nth-child(12) {
    position: relative;
    bottom: 40px;
  }
}
